extends layout

block head
  title Documoto Code Challenge
  link(rel='stylesheet' href=css)

block content
  #root
  script(src=js)

  noscript.
    You Need to enable JavaScript in order to access this page.
