main
  overflow scroll

.Page
  display flex
  flex-wrap wrap
  .pageHeadline
    width 100%
    margin 12px auto

.LoadingCard
  height 100%
  min-height 500px
  text-align center
  font-size 128px
  padding-top 150px

.Part
  //width 300px
  .partImage
    padding-top 56.25%;//16:9

//Material-Ui style mods
.navContainer
  .MuiButton-root-1
    min-width 32px


.localeMenuItem
  width 180px